{% extends "admin/home_admin.html" %}
{% from 'form/_cella.html' import render_cell %}

{% block fornitore %}
<div class="field is-horizontal">
    <div class="field-label is-normal ">
        <label class="label has-text-white is-small"></label>
    </div>
</div>
<form name="add_fornitore" method="post">
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.nome) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.telefono) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.indirizzo) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.descrizione) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.email) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.cellulare) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.localita) }}
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        {{ render_cell(form.contratto) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        {% for field in form %}
        <div class="field is-horizontal">
            <div class="field-label is-small ">
                <label class="label  has-text-white">{{ field.label }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-small" name="{{ field.name }}" type="text">
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal ">
                    <label class="label has-text-white is-small"></label>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="field is-horizontal">
            <div class="field-label is-small ">
                <label class="label  has-text-white">Contratto</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <select name="contratto_scelto">
                            <option></option>
                            {% for contratto in tipi_contratto %}
                            <option>{{ contratto }}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal ">
                    <label class="label has-text-white is-small"></label>
                </div>
            </div>
        </div>
    -->

    <div class="field is-horizontal">
        <div class="field-label is-small ">
            <label class="label  has-text-white"></label>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal ">
                <label class="label has-text-white is-small"></label>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body  is-horizontal">
            <div class="field is-grouped">
                <div class="control">
                    <button name="aggiungi" class="button is-small"
                            formaction="{{ url_for('main.fornitore') }}">
                        Aggiungi
                    </button>
                </div>
                <div class="control">
                    <button name="cancel" class="button is-small"
                            formaction="{{ url_for('main.fornitore') }}">
                        Cancella
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal ">
            <label class="label has-text-white"></label>
        </div>
    </div>
</form>
{% endblock %}